.content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Goudy Old Style";
    border: black 1px solid;

}

input[type=text] {
    border: black 3px solid;
}

.element::-webkit-input-placeholder {
    font-family: "Gougy Old Style";
    font-weight: bold;
}



.white-container {
    font-weight: bold;
    background-color: white;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.button {
    background-color: #679dff;
    color: black;
    border-radius: 5px;
    border: 3px black solid;
    padding-block: 5px;
    cursor: pointer;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    font-weight: bold;

    display: flex;
    flex-direction: row;
    width: 100%;
}

.create-btn {
    font-weight: bold;

    width: 100%;
}

.message-box {
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 30vh;
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: stretch;
    overflow: auto;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h2 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}

.canvas {
    border: black 5px solid;
    background-color: white;
}

.row {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.wordToDraw {
    font-weight: bold;

    background-color: #a9a9a9;
    font-size: 35px;
    text-align: center;
    border: black 5px solid;
}

.points-section {
    font-weight: bold;

    background-color: white;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    border: black 3px solid;
}

.guess-word {
    font-weight: bold;
    background-color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    border: black 3px solid;

}

.timer-box {
    font-weight: bold;

    background-color: grey;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    align-content: center;
    border: black 3px solid;
}

@keyframes bang {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.winner {
    font-weight: bold;
    width: fit-content;
    padding: 20px;
    margin: auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 2em;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

i {
    position: absolute;
    display: block;
    left: 50%;
    top: 0;
    width: 3px;
    height: 8px;
    background: red;
    opacity: 0;
}

.name-clear {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: black 3px solid;
}


