{% extends "base.html" %} {% block content %}
<form method="post" class="white-container">
    <h1 style="font-weight: bolder">Welcome, {{name}}!</h1>
    <div>
        <label style="font-size: large; font-weight: bolder">Join a Game</label>
        <br>
        <input type="text"
               placeholder="Game Code"
               style="text-align: center"
               name="code"
               value="{{code}}"
        >
        <br>
        <button class="button" type="submit" name="join">Join</button>
    </div>
    {% if error %}
    <ul>
        <li style="color: crimson">{{error}}</li>
    </ul>
    {% endif %}

    <div>
        <label style="font-size: large">Create a Game</label>
        <br>
        <button class="button" type="submit" name="create">Create</button>
    </div>
</form>

{% endblock %}