{% extends 'base.html' %} {% block content %}
<form method="post" class="white-container">
    <h1 style="font-weight: bolder">Pictionary++</h1>
    <div>
        <input
                type="text"
                placeholder="Username"
                style="text-align: center"
                name="name"
                value="{{name}}"
        />
        <br>
        <br>
        <button class="button">Enter</button>
    </div>
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>
{% endblock %}