{% extends "base.html" %} {% block content %}

    <form method="post">
        <div class="white-container">
            <h2>{{ code }}</h2>
            <button class="button" name="play-btn" id="play-btn" type="button" onclick="sendToGame()">Play</button>
            <p style="text-align: center" id="error"></p>

        </div>


        <div class="column">
            <div class="message-box" id="message-box">
                <br>
                <div class="messages" id="messages"></div>
                <div class="inputs">
                    <input type="text" rows="3" placeholder="Message" id="message">
                    <button class="button" type="button" name="send" id="send-btn" onclick="sendMessage()">Send</button>
                    <script>
                        var input = document.getElementById("message");
                        input.addEventListener("keypress", function (event) {
                            if (event.key === "Enter") {
                                event.preventDefault();
                                document.getElementById("send-btn").click();
                                updateScroll();
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        // player 1 and 2
        var player1;
        var player2;

        var socketio = io();

        const messages = document.getElementById("messages");

        const createMessage = (name, msg) => {
            const content = `
        <div class="text">
            <div>
                <span>
                    <strong>${name}</strong>: ${msg}
                </span>
                <span class="muted">
                    ${new Date().toLocaleString()}
                </span>
            </div>
        </div>
        `;

            messages.innerHTML += content;
            updateScroll();
        };

        socketio.on("message", (data) => {
            //setting player 1 and 2
            var player_num = data.player_num
            if (player_num === 1) {
                //clear and set
                localStorage.removeItem("player1")
                localStorage.setItem("player1", data.name)
            } else if (player_num === 2) {
                localStorage.removeItem("player2")
                localStorage.setItem("player2", data.name)
            }
            createMessage(data.name, data.message)
        })

        const sendMessage = () => {
            const message = document.getElementById("message")
            if (message.value === "") return;
            socketio.emit("message", {data: message.value});
            message.value = "";
        };

        function updateScroll() {
            var element = document.getElementById("messages");
            var box = document.getElementById("message")
            element.scrollTop = element.scrollHeight;
        }
    </script>

    <script type="text/javascript">
        socketio.on("redirect_play", function (url) {
            // setting player 1 and 2
            window.location.href = url;
        })
        var playBtn = document.getElementById("play-btn");
        playBtn.addEventListener("click", function () {
            socketio.emit("play_button_pressed")
        })

        socketio.on("error_message", function (error) {
            var errorElement = document.getElementById("error")
            errorElement.textContent = error
        })

        var word_list_global = ["airplane", "alarm_clock", "anvil", "apple", "axe", "baseball", "baseball_bat", "basketball", "bed",
            "bench", "bicycle", "bird", "book", "bread", "bridge", "broom", "butterfly", "camera", "candle", "car",
            "cat", "cell_phone", "chair", "circle", "clock", "cloud", "cookie", "cup", "diving_board", "donut",
            "door", "drums", "dumbbell", "envelope", "eye", "eyeglasses", "face", "flower", "frying_pan", "grapes",
            "hammer", "hat", "headphones", "helmet", "hot_dog", "ice_cream", "key", "knife", "ladder", "laptop",
            "light_bulb", "lightning", "lollipop", "microphone", "moon", "mountain", "moustache", "mushroom",
            "pants", "paper_clip", "pencil", "pillow", "pizza", "power_outlet", "radio", "rainbow", "rifle", "saw",
            "scissors", "screwdriver", "shorts", "shovel", "smiley_face", "snake", "sock", "spider", "spoon",
            "square", "star", "stop_sign", "suitcase", "sun", "sword", "syringe", "t-shirt", "table",
            "tennis_racquet", "tent", "tooth", "traffic_light", "tree", "triangle", "umbrella", "wheel",
            "wristwatch"]

    </script>

{% endblock %}